body {
    margin:0;
}
.input-panel {
    position:absolute;
    box-sizing:border-box;
    top:0;
    left:0;
    height:100%;
    width:450px;
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    line-height:40px;
    text-align: right;
}
.input-panel .info {
    position:absolute;
    box-sizing:border-box;
    bottom:70px;
    right:0;
    height:400px;
    width:100%;
    text-align: left;
    line-height:20px;
    padding:10px;
    font-size: 12px;
}
.input-panel .masthead {
    position:absolute;
    bottom:0;
    right:0;
    height:70px;
    width:100%;
    text-align: center;
    line-height:30px;
}
.input-panel input {
    width:150px;
}
.output-container {
    position:relative;
    box-sizing: border-box;
    padding:20px;
    width:calc( 100% - 450px );
    top:0;
    left:450px;
}
.output-panel {
    position:relative;
    display:inline-block;
    height:120px;
    width:320px;
    margin:0 20px 20px 0;
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    vertical-align: top;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}
.output-panel:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.output-panel span.title {
    font-weight: bold;
}
.output-panel .result span {
    background: #303030;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
}